
/*Toast*/

#toast-container {
	position: fixed;
	bottom: 0;
	left: 50%;
	padding: 15px;
	transform: translateX(-50%);
	z-index: 999999;
	pointer-events: none;
}

.toast {
	display: flex;
	flex-direction: row;
	position: relative;
	min-width: 150px;
	max-width: 600px;
	background: #333;
	opacity: 0.9;
	box-shadow: 0 0 8px #333;
	color: #FFF;
	padding: 15px;
	pointer-events: auto;
	transition: all 0.3s;
	font-size: 16px;
	align-items: center;
}

.toast:not(:last-of-type) {
	margin-bottom: 20px;
}

.toast:hover {
	opacity: 1;
}

.toast-message {
	flex-grow: 1;
	word-wrap: break-word;
	cursor: default;
	padding-right: 20px;
	border-right: 2px solid #c3c3c3;
}

.toast-action {
	color: #71cfeb;
	padding: 0 20px;
	text-transform: uppercase;
	cursor: pointer;
	border-right: 2px solid #c3c3c3;
}

.toast-action a {
	color: #71cfeb;
	text-decoration: none;
}

.toast-close {
	cursor: pointer;
	padding: 0 10px 0 20px;
}

.toast-close .cross-icon use {
	stroke: #c3c3c3;
}

.toast-close:hover .cross-icon use {
	stroke: #ed5b6c;
}

.menu-icon {
	width: 46px;
}
.loader i {
	width: 15px;
	height: 15px;
	background: rgb(84, 170, 117);
	display: inline-block;
	border-radius: 100%;
}
.loader i:nth-child(1) {
	-webkit-animation: loading 2s linear infinite;
	animation: loading 2s linear infinite;
	margin-right: 20px;
}
.loader i:nth-child(2) {
	-webkit-animation: loading 2s linear infinite;
	animation: loading 2s linear infinite;
	animation-delay: 0.3s;
	margin-right: 20px;
}
.loader i:nth-child(3) {
	-webkit-animation: loading 2s linear infinite;
	animation: loading 2s linear infinite;
	animation-delay: 0.5s;
}

.br--right3 {
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
}
.br--left3 {
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
}

@keyframes loading {
	0% {
		opacity: 1;
		transform: scale(1.2);
	}
	50% {
		opacity: 0.5;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		transform: scale(1.2);
	}
}
.sidebar.sidebar--closed .parent-item:hover .menu-label, .sidebar.sidebar--closed  .menu-label:hover{
	visibility: visible;
	opacity: 1;
	min-width: 150px;
}

.input-err {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* utilities*/
.left-100 {
	left: 100%;
}
.w-15 {
	width: 15%;
}
.visibility-hidden {
	visibility: hidden;
}
.svg-s-silver {
	stroke: #999;
}

.svg-s-white {
	stroke: #fff;
}

.filter-gray {
	filter: grayscale(1);
}

.svg-fn {
	fill: none;
}
.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sticky {
	position: sticky;
}

.w1-5 {
	width: 1.5rem;
}
.h1-5 {
	height: 1.5rem;
}

.w2-5 {
	width: 3rem;
}
.h2-5 {
	height: 3rem;
}
/* utilities*/
.inner-items-dn__multi-value {
	display: none !important;
}

.bg-prpl {
	background: #683ba3;
}

.b--prpl {
	border-color: #683ba3;
}

.prpl {
	color: #683ba3;
}

.ylw {
	color: #fff238;
}
.bg-ylw {
	background: #fff238;
}
.b--ylw {
	border-color: #fff238;
}
.f-18{
	font-size:18rem;
}

.bg-pnk {
	background: #f75897;
}

.bg-grn {
	background: #63d6c5;
}

/*# sourceMappingURL=styles.chunk.css.map*/